In [ ]:
print ("Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug\nSep\nOct\nNov\nDec")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [ ]:
print ("I want \\n to be printed.")
print("I'm very *happy*")

I want \n to be printed.
I'm very *happy*

In [ ]:
print ("Hello\tWorld!") # \t is equal to 4 spaces

Hello	World!

In [ ]:
print ("""
Routine:
\t- Eat
\t- Study
\t- Sleep\n\t- Repeat
""")

Routine:
	- Eat
	- Study
	- Sleep
	- Repeat

In [ ]:
print ("Welcome to", end = ' ') 
print ("Python", end = '!')

Welcome to Python!

In [ ]:
print("Python " , end = '@') # ends the output with '@'.

Python @

In [ ]:
print(1, 2, 3, 4)
print(1, 2, 3, 4, sep='#')   # separate= sep" ":<- 공백 안 내가 구분짓고 싶은 기호,문자를 넣으면 사이사이에 입력됨
print(1, 2, 3, 4, sep='*', end='&')  # end" "<- 공백 안 내가 넣고싶은 기호,문자 넣으면 제일 마지막에 입력됨

1 2 3 4
1#2#3#4
1*2*3*4&

In [ ]:
1+2    # assignment line 1
+3     # assignment line 2

# Python is only calculating assignment line 1

3

In [ ]:
1+2 \
+3

6

In [ ]:
1 + 2 + 3 + \
4 + 5 + 6 + \
7 + 8 + 9

45

In [ ]:
for i in range(1,11):
    print(i)   #press "Tab" one time for 1 indentation
    if i == 6:
        break

1
2
3
4
5
6

In [ ]:
name = input("Enter Student Name: ")
major = input("Enter Major: ")
university = input("Enter University: ")

print("\n")
print("Printing Student Details")
print("Name", "Major", "University")
print(name, major, university)

Enter Student Name: Yuri Kim
Enter Major: Management
Enter University: AA


Printing Student Details
Name Major University
Yuri Kim Management AA

In [15]:
x="안녕하세요,"
y="여러분!"
print(x+y)

안녕하세요,여러분!

In [16]:
x= 2023
print("새해는 %d년 입니다."%x)

새해는 2023년 입니다.

In [17]:
x=5; y=20
print("새해는 저의 %d번째 %d살 입니다"%(x,y))

새해는 저의 5번째 20살 입니다

In [18]:
my_tuple=(20)
age_tuple=(5)
print("그렇습니다.저는",my_tuple + age_tuple,"살입니다.")

그렇습니다.저는 25 살입니다.

In [19]:
a={"여러분":"새 해에는","모두":"부자되세요!"}
print(a)

{'여러분': '새 해에는', '모두': '부자되세요!'}

In [20]:
a.keys()

dict_keys(['여러분', '모두'])

In [21]:
a.values()

dict_values(['새 해에는', '부자되세요!'])

In [22]:
print("건\n강\n하\n세\n요\n!")

건
강
하
세
요
!

In [23]:

for i in range(10) :
    print("♡")

♡
♡
♡
♡
♡
♡
♡
♡
♡
♡

In [25]:
a={"지금까지":"영철맨","도와조~":"였습니다"}
print("♡"*23)
print(a)
print("♡"*23)
print("감사합니다_박영철/고영광/김유리/오현진")

♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡
{'지금까지': '영철맨', '도와조~': '였습니다'}
♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡
감사합니다_박영철/고영광/김유리/오현진